<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
		<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
		<!-- favicon -->
		<link rel="shortcut icon" type="image/png" href="assets/img/ramo.png">
		<link rel="stylesheet" href="assets/estilo.css"> {% block style %}{% endblock %}
		</head>
		<body>
			<nav class="bg-dark">
				<ul class="nav justify-content-end">
				<img src="assets/img/ramo.png" style="width: 40px" class="rounded-pill"/>
					<li class="nav-item">
						<a class="nav-link text-white" aria-current="page" href="{{ URL }}?controller=auth&action=welcome">Welcome</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" aria-current="page" href="{{ URL }}?controller=categorias&action=indexFlores">| Productos</a>
					</li>
					{# <li class="nav-item">
						<a class="nav-link text-white" aria-current="page" href="{{ URL }}?controller=categorias&action=indexRosas">| Rosas</a>
					</li>
						<a class="nav-link text-white" aria-current="page" href="{{ URL }}?controller=categorias&action=indexPlantas">| Plantas</a>
					</li> #}
					<li class="nav-item">
						<a class="nav-link text-white" href="{{ URL }}?controller=carrito&action=index">| Carrito</a>
					</li>
					
					<li class="nav-item ">
						<a class="nav-link text-white" href="#">
						
							<i class="fas fa-user"></i>
							| <img src="assets/img/perfilok.png" style="width: 10%"></i>
							{{ identity.nombre | title }}
							{{ identity.apellidos | capitalize }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" aria-current="page" href="{{ URL }}?controller=auth&action=logout">| Cerrar sesión</a>
					</li>
				</ul>
			</nav>
			<!-- end header -->
			{% block content %}{% endblock %}
		</body>
		{% block script %}{% endblock %}
	</html>
</body></html>
