<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
		<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
		<!-- favicon -->
		<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
		<link rel="stylesheet" href="assets/estilo.css"> {% block style %}{% endblock %}
		</head>
		<body>
			<nav>
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ URL }}?controller=index&action=index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ URL }}?controller=auth&action=register">Crear usuario</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="{{ URL }}?controller=auth&action=logout">Cerrar sesión</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fas fa-user"></i>
							{{ identity.nombre | title }}
							{{ identity.apellidos | capitalize }}</a>
					</li>
				</ul>
			</nav>
			<!-- end header -->
			{% block content %}{% endblock %}
		</body>
		{% block script %}{% endblock %}
	</html>
</body></html>
