<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
		<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="assets/estilo.css">
	</head>
	<body>
		<!-- menu start -->
		<nav>
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ URL }}?controller=index&action=index">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ URL }}?controller=auth&action=login">Iniciar sesion</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ URL }}?controller=auth&action=register"></i>Crear usuario</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fas fa-user"></i> {{ identity.nombre | title }} {{ identity.apellidos | capitalize }}</a>
				</li>
			</ul>
		</nav>
	</body>
</html>
<!-- end header -->
{% block content %}
{% endblock %}

